.animation{
    transition: animation 2s;
    animation: animationAnime 2s ease;
    }
    @keyframes animationAnime {
        0%{
    height: 2000px;
        }
        100%{
            height: 600px;
                }
    
    }